@import 'vars';
@import 'global';
@import 'fonts';

.header__top-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 90px;
}

.header__text {
   margin-left: auto;
   margin-right: 50px;
   span {
      color: $red;
   }
}

.header__btn {
   width: 72px;
   padding: 4px;
   border-radius: 4px;
   text-align: center;
   color:#fff;
   font-size: 12px;
}

.header__btn-login {
   background-color: $green;
   
}

.header__btn-register {
   background-color: $red;
   margin-left: 7px;
}

.header__menu {
   background-color: $bg;
   
}

.menu {
   height: 60px;  
   display: flex;
   align-items: center; 
}

.menu__list {
   li {
      display: inline-block;   
      & + li {
         margin-left: 30px;
      }
   }  
   a {
      color: #fff;
      font-size: 14px;
   } 
}
// ================= end header ============
// ================= search ================

.search {   
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 533px;
}

.search__inner {
   padding: 155px 0 100px;
   color: #fff;
   text-align: center;   
   &-title {
      font-size: 48px;
      margin-bottom: 10px; 
      @include f700; 
      line-height: 72px;   
   }
   &-text {
      font-size: 20px;
      margin-bottom: 50px;  
      line-height: 30px;  
      @include f500;        
   }
   &-form {
      max-width: 670px;
      margin: 0 auto;
      position: relative;
      input {
         display: block;
         width: 100%;
         box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
         border-radius: 4px;
         height: 56px;
         border: none;
         font-size: 14px;
         @include f500;
         padding: 0 60px 0 25px;
         &::placeholder {
            color: #90a4ae;
            @include f500;
         }
      }
      button {
         position: absolute;
         border: none;
         background-color: transparent;
         padding: 0;
         top: 18px;
         right: 20px;
      }
   }
}
// ============== end search ================

// ============== products start ============
.products {
   background-color: $grey;
   padding: 110px 0;
  
}

.products__inner-btn {
   text-align: center;
   margin-bottom: 60px;
   button {
      padding: 12px 21px;
      border: none;
      background-color: #fff;
      color: $bg;
      cursor: pointer;
      & + button {
         margin-left: 5px;
      }
      &.mixitup-control-active {
         background-color: $red;
         color: #fff;
      }
   }   
}

.products__inner-box {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.product__item {
   max-width: 442px;
   width: 100%;
   box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
   margin-bottom: 30px;
   &-img {
      min-height: 250px;
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: #b5b5b5;
   } 
   &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 30px;
      min-height: 90px;
      @include f500;
      border-bottom: 1px solid #e7ecf2;
   }
   &-name {
      max-width: 310px;
      padding-right: 15px;
   }    
   &-title {
      color: $bg;
      font-size: 18px;      
      display: block;
   }
   &-category {
      display: block;
      font-size: 14px;
      color: $green;
   }
   &-price {
      @include f700;
      font-size: 20px;
      color: $bg;
   } 
   &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 70px;
      padding: 10px 30px;      
   }  
   &-author {      
      display: flex;
      align-items: center;
      max-width: 245px;
      .avatar {
         width: 30px;
         height: 30px;
         border-radius: 50%;         
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;         
         margin-right: 14px;
         background-color: #b5b5b5;
      }
      span {
         display:block;
         font-size: 14px;         
         @include f500;
      }
   }
   &-star {
      font-size: 12px;
      span{        
         color: $bg; 
      }           
   }  
}

.products__bottom-btn {
   text-align: center;
   button {
      margin: 45px 5px 0;
      padding: 17px 0;
      width: 165px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      background-color: #fff;
      box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
      color: $bg;
      &.mixitup-control-active {
         background-color: $red;
         color: #fff;
      }
   }
   
   
}
// ============== products end ============

// ===section trending product start=======
.product-slider {
   padding: 110px 0px 120px;
   .slick-dots {
      text-align: center;
      li {
         display: inline-block;
         margin-left: 3px;
         margin-right: 3px;
         margin-top: 50px;
         &.slick-active {
            button {
               background-color: $green;
            }
         }         
         button {
            border-radius: 50%;
            background-color:rgb(232, 232, 232);
            border: 0;
            font-size: 0;
            width: 16px;
            height: 16px;
            cursor: pointer;
            outline: none;
         }
      }
   }
}
// ===section trending product end=========
 
// ====section advantages start ===========
.advantages {
   background-color: $bg;
   padding: 110px 0;
}

.advantages__title {
   color: #fff;
   margin-bottom: 80px;
}

.advantages__inner {
   display: flex;
   justify-content: space-between;
}

.advantages__item {
   max-width: 370px;
   text-align: center;
   padding: 0px 15px;  
    
   &-images {
      width: 114px;
      height: 114px;
      border-radius: 50%;
      display: flex;
      background-color: #fff;
      color: #000;
      justify-content: center;
      align-items: center;
      margin: 0 auto 30px;
      transition: all .3s;
      
      
   }
   &-title {
      margin-bottom: 25px;
      font-size: 24px;
      color: #fff;
      @include f500;
      transition: all .3s; 
   }
   &-text {
      font-size: 15px;     
   }
   &:hover {       
      .advantages__item-images {
         // color:  #fff;
         background-color: $green;                           
      }
      .advantages__item-title {
         color: $green;         
      }
      .icon-lock, .icon-gift, .icon-heart-o {   
         color: #fff;
      }   
   }
}

.icon-lock, .icon-gift, .icon-heart-o {
   transition: all .3s;
   color: #000;
   &::before {
      font-family:'icomoon';
   }
}

.icon-lock::before {     
   font-size: 90px;
}
 
.icon-gift::before {
   font-size: 90px;   
}

.icon-heart-o::before {     
   font-size: 80px;
}
// ====section advantages end =============

// ==============footer start==============
.footer{
   background-color: $bg;
   &__inner {
      display: flex;
      justify-content: space-between;
      padding: 100px 0px 80px;
   }   
}

.footer__col {
   max-width: 270px;
   width: 100%;
   &-menu {
      max-width: 220px;
      width: 100%;      
   }
   &-title {
      font-size: 22px;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      color: #fff;
      padding-bottom: 30px;
      margin-bottom: 30px;
      position: relative;
      &::after{
         position: absolute;
         content: '';
         bottom: 0;
         left: 2px;
         width: 51px;
         height: 3px;
         background-color: $green;
      }
   }
   &-text {
      color: #b7c3c8;
      margin-bottom: 30px;
   }
   
}

.footer__info {
   margin-top: 18px;
   @include f500;
   color: #fff;
   padding-left: 30px;
   position: relative;
   &::before {
      content: '\f041';
      font-family:'icomoon';
      color: $green;
      position: absolute;
      left:0;
      font-size: 18px;
   }
}

.footer__info-phone {
   &::before {
      content: '\f095';
   }
}

.footer__col-list {
   a {
      color: #b7c3c8;
      margin-bottom: 13px;
      padding-left: 22px;
      position: relative;
      &::before {
         content: '\f105';
         position: absolute;
         left: 0;
         font-size: 18px;
         color: $green;
         font-family:'icomoon';
      }
   }
}

.footer__social-link {
   margin-bottom: 33px;
   li {
      display: inline-block;
      & + li {
         margin-left: 7px;
      }
   }
   a {
      width: 28px;
      height: 28px;
      background-image: url(../images/content/css_sprites.png);      
   }
}

.link-facebook {
   background-position: 0px 0px;
}
.link-twitter {
   background-position: -28px 0px;
}
.link-youtube {
   background-position: -56px 0px;
}
.link-pinterest {
   background-position: 0px -28px;
}
.link-linkedin {
   background-position: -28px -28px;
}

.footer__form-title {
   margin-bottom: 15px;
   color: #fff;
   font-size: 20px;
}

.footer__form {
   position: relative;
   &-input{
      border: none;
      background-color: #2f3c43;
      display: block;
      width: 100%;
      height: 40px;
      color: #fff;
      font-size: 14px;
      padding: 0px 60px 0px 15px;
      &::placeholder {
         color: #697378;
      }
   }
   &-button {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 45px;
      height: 40px;
      border: none;
      background-color: $green;
      cursor: pointer;
      &::before {
         content: '\f124';
         color: #fff;
         font-size: 20px;
         font-family: 'icomoon';
         position: absolute;
         transform: translate(-50%, -50%);
      }
   }
}














.footer__copy {
   border-top: 1px solid #2f3b41;
}

.footer__copy-text {
   text-align: center;
   color: #919699;
   padding: 25px 0px;   
}



// ==============footer end================
